@use "@/app/styles/Colors" as color;

.language-switcher {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-family: sans-serif;
}

.language-switcher-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
  &:hover {
    background-color: color.$primary-color;
  }
}

.language-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: color.$secondary-color;
  border-radius: 5px;
  width: 120px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: slide-down 0.3s ease;
}

.language-option {
  display: block;
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: color.$third-color;
  transition: background-color 0.2s;
  
  &:hover {
    background-color: rgba(color.$primary-color, 0.2);
  }
  
  &.active {
    background-color: rgba(color.$primary-color, 0.3);
    font-weight: bold;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 