@use "Colors" as color;

.slogan {
  font-size: 2rem;
  color: color.$third-color;
  text-align: center;
  width: 30vw;
  @media (max-width: 650px) {
    width: 80vw;
  }
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;

  .portfolioSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    @media (max-width: 768px) {
      width: 10%;
    }
  }
}

.freelanceSection {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: block;
    overflow: visible;
    z-index: 1;
}
