@use "@/app/styles/Colors" as color;
.menu {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 2rem;
  max-width: 50%;
  margin: 20px auto;
  border-bottom: 1px solid color.$primary-color;
  transition: none;

  .burger {
    display: none;
  }

  .nav-items {
    display: flex;
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.54);

    .burger {
      display: flex !important;
      justify-items: flex-start;
      align-self: flex-start;
    }

    .nav-items {
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      height: auto;
      opacity: 1;
    }

    .indicator {
      display: none;
    }
  }

  .item {
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: color.$third-color;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0.1rem 0;
    transition: color 0.3s ease-out;

    &.active {
      color: color.$third-color;
    }
  }
}
