@use "Colors" as color;

.portfolioContainer {
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15%;
}
.Links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  a {
    color: color.$primary-color;
    font-size: 3.5rem;
    transition: color 0.3s;
    &:hover {
      color: color.$primary-color;
    }
  }
}
.topGraphic {
  display: block;
  margin: 0 auto 1.5rem auto;
  max-width: 18.75rem;
  height: auto;
}

.imageGrid {
  column-count: 2;
  column-gap: 1rem;

  @media (min-width: 37.5em) {
    column-count: 2;
  }
  @media (min-width: 56.25em) {
    column-count: 2;
  }
  @media (min-width: 75em) {
    column-count: 3;
  }
}

.imageItem {
  break-inside: avoid;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  position: relative;

  img {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    object-fit: cover;
  }

  &:hover {
    transform: scale(1.05);
  }


}

.linkIcon {
  position: absolute;
  font-size: 3rem;
  top: 5%;
  right: 5%;
  color: color.$secondary-color;
  background-color: white;
  padding: 1%;
    border-radius: 50%;
  border: 1px solid color.$secondary-color;
}

.imageCaption {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #ccc;
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: zoom-out;
}

.modalContent {
  background: #111;
  padding: 1rem;
  border-radius: 0.75rem;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  text-align: center;
  cursor: default;

  p {
    color: #fff;
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.modalImageWrapper {
  max-width: 80vw;
  max-height: 75vh;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0.5rem;
  position: relative;
}

.zoomImage {
  width: 100%;
  height: 100%;
  max-width: 60vw;
  object-fit: cover;

}

.modalControls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  button {
    background: #222;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: #444;
    }
  }
}
