@use "@/app/styles/Colors" as color;

.ServiceCategory {
  background-color: color.$secondary-color;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .ServiceCategory {
    border-radius: 8px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .ServiceCategory {
    border-radius: 6px;
    max-width: 90vw;
    width: 90vw;
    margin: 0 auto;
    padding: 0.5rem 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
} 