@use "@/app/styles/Colors" as color;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}
body{
  overflow-x: hidden;
}

  .klaro .cookie-modal .cm-bg {
    background: rgba(0, 0, 0, 0.7);
  }

  .klaro .cookie-modal .cm-bg-close {
    color: white;
    font-size: 24px;
  }

  .klaro .cookie-modal .cm-header {
    padding: 20px;
    background: color.$primary-color;
    color: #111;
  }

  .klaro .cookie-modal .cm-header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }


