@use "@/app/styles/colors" as color;

.firefliesContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.firefly {
  position: absolute;
  border-radius: 50%;
  background-color: color.$primary-color;
  box-shadow: 0 0 8px #fff;
  animation: flicker 8s infinite ease-in-out;
  opacity: 0;
}

@keyframes flicker {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
    transform: translate(-5px, 7px);
  }
  40% {
    opacity: 0.8;
    transform: translate(8px, -10px);
  }
  60% {
    opacity: 1;
    transform: translate(-4px, 20px);
  }
  80% {
    opacity: 0.6;
    transform: translate(10px, -15px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }

}
